<!-- {{responseData|json}} -->

  
  <!-- Modal -->
  
<div class="text-center">
    <h4>User Details</h4>
    
</div>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        + Add new user
    </button>
</div>
<table class="table-bordered table">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email ID</th>
        <th>Password</th>
        <th colspan="2">Action</th>
    </tr>
    <tr *ngFor="let user of responseData;let i=index">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.password}}</td>
        <td> <button class="btn btn-primary" [routerLink]="['/edit',i]">Edit</button></td>
        <td>
            <button class="btn btn-danger" (click)="DeleteUser(i)">Delete</button>
        </td>
    </tr>
</table>   

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Newuser</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card" >
                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="addUserDetails()">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" name="firstname" class="form-control" formControlName="firstname" placeholder="Enter FirstName">
                          <small *ngIf="userForm.get('firstname').touched && userForm.get('firstname').hasError('required')" class="error">
                            Firstname is required
                          </small>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lastname" class="form-control" formControlName="lastname"  placeholder="Enter LastName">
                            <small *ngIf="userForm.get('lastname').touched && userForm.get('lastname').hasError('required')" class="error">
                             Lastname is required
                            </small>
                        </div>

                        <div class="form-group">
                        <label>Email ID</label>
                        <input type="email" name="emailId" class="form-control" formControlName="emailId"  placeholder="Enter email">
                        <small *ngIf="userForm.get('emailId').touched && userForm.get('emailId').hasError('required')" class="error"> EmailID is required</small>     
                        <small *ngIf="userForm.get('emailId').hasError('email')" class="error">
                            Emailid in wrong format
                        </small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" formControlName="password"  placeholder="Enter Password">
                            <small *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')" class="error">
                                Password is required
                            </small>
                            <small *ngIf="userForm.get('password').hasError('minlength')" class="error">
                                Password minlength 6
                            </small>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                            <button type="submit" [disabled]="userForm.invalid" class='btn btn-success'>Submit</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>