<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h4>User Form Update</h4>
          </div>
        <div class="card-body">
            <form #frm="ngForm">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" #firstname="ngModel" class="form-control" [(ngModel)]="list.firstname"
                        name="firstname">
                </div>
                <small *ngIf="firstname.invalid && firstname.touched">
                    <div *ngIf="firstname.errors.required">FirstName is Required</div>
                </small>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" #lastname="ngModel" class="form-control" [(ngModel)]="list.lastname"
                        name="lastname">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" #emailid="ngModel" class="form-control" [(ngModel)]="list.emailId"
                        name="emailId">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" #password="ngModel" class="form-control" [(ngModel)]="list.password"
                        name="password">
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-success btn-lg" (click)="update()">Update</button>
                    </div>
                </div>

                <!-- <button (click)="update()" [disabled]="frm.invalid">Update</button> -->

            </form>
        </div>
    </div>
</div>