<div class='container'>
    <div class="card" >
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="addUserDetails()">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="firstname" class="form-control" formControlName="firstname" placeholder="Enter FirstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="lastname" class="form-control" formControlName="lastname"  placeholder="Enter LastName">
                </div>
                <div class="form-group">
                <label>Email ID</label>
                <input type="email" name="emailId" class="form-control" formControlName="emailId"  placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" formControlName="password"  placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <div class="text-center">
                    <button type="submit"  class='btn btn-success'>Submit</button>
                    </div>
                </div>
            </form>  
        </div>
    </div>
      
</div>
